{% extends "base.html" %}
{% block content %}

<script>
    function getLocation() {
        var frm = document.getElementById('frm');
        if (navigator.geolocation) {
            navigator.geolocation.getCurrentPosition(showPosition);
        } else {
            frm.innerHTML = "Geolocation is not supported by this browser.";
            console.log("Geolocation is not supported by this browser.");
        }
    }
    function showPosition(position) {
        frm.value = position.coords.latitude + ", " + position.coords.longitude;
        console.log(position.coords.latitude, position.coords.longitude);
    }
</script>

<h2>Find</h2>
<form method="GET" action="/found">
    <dl>
        <dt>From:</dt>
        <dd>
            <input type="text" name="frm" id="frm"/>
            <!-- <button type="button" onclick="getLocation()">Get my location.</button> -->
        </dd>
        <dt>Where:</dt>
        <dd><input type="text" name="to"/></dd>
        <dd><input type="submit" value="Find routes."/></dd>
    </dl>
</form>

<p><font size="6"><b>{{ error }}</b></font></p>

{% endblock %}