{% extends "base.html" %}
{% block content %}

<script type="text/javascript">
    L.mapbox.accessToken = 'pk.eyJ1IjoiamFrdWJudmsiLCJhIjoiY2lsOGV4eTkxMDAybXZ5a3F0ZXNyNnR3cSJ9.5y6GM1S5wsDJl-urjVxYcw';
</script>

<div id="alternatives">
    <ul id="routes">
        {% for r in routes %}
            {% if loop.index == loop.length %}
                <li><a href="{{ url_for('found_route_page', frm=frm, to=to, 
                                alt=loop.index0) }}"
                       title="Alt#{{ loop.index0 }}"
                       style="border-left: 1px solid black;
                              border-right: 1px solid black;">
                       Alternative {{ loop.index }}
                    </a>
                </li>
            {% else %}
                <li><a href="{{ url_for('found_route_page', frm=frm, to=to, 
                                alt=loop.index0) }}"
                       title="Alt#{{ loop.index0 }}"
                       style="border-left: 1px solid black;">
                       Alternative {{ loop.index }}
                    </a>
                </li>
            {% endif %}
        {% endfor %}
    </ul>
</div>

<script type="text/javascript">
    function makeMap(num, midpoint, loc_a, loc_b, dist, instructions) {
        this.num = num;
        this.width = 100 + '%';
        this.height = 400 + 'px';
        this.float = 'left';
        this.midpoint = midpoint;
        this.a_lat = loc_a[0];
        this.a_lon = loc_a[1];
        this.b_lat = loc_b[0];
        this.b_lon = loc_b[1];
        if (dist < 271) {
            this.zoom = 19;
        } else if (dist > 270 && dist < 366) {
            this.zoom = 18;
        } else if (dist > 365 && dist < 501) {
            this.zoom = 17;
        } else {
            this.zoom = 16;
        }
        this.rootElem = document.createElement('div');
        this.rootElem.id = 'cont' + this.num;
        this.rootElem.style.width = 100 + '%';
        document.getElementById('container').appendChild(this.rootElem);
 
//        this.instr = document.createElement('div');
//        this.instr.id = 'instr' + this.num;
//        this.instr.style.width = this.width;
//        this.instr.style.height = this.height; //100 + '%';
//        this.instr.style.color = 'black';
//        this.instr.style.backgroundColor = '#87CEE8';
//        this.instr.style.cssFloat = 'left';
//        this.instr.style.borderBottom = '3px solid #3B3B3B';
//        this.instr.innerHTML = instructions;
//        document.getElementById(this.rootElem.id).appendChild(this.instr);
 
        this.map = document.createElement('div');
        this.map.id = 'map' + this.num;
        this.map.style.width = this.width;
        this.map.style.height = this.height;
        this.map.style.position = 'relative';
        this.map.style.cssFloat = 'right';
        this.map.style.borderBottom = '3px solid #3B3B3B';
        document.getElementById(this.rootElem.id).appendChild(this.map);
 
        var map = L.mapbox.map('map' + this.num, 'mapbox.streets',
                               {zoomControl: true}).setView(this.midpoint,
                                                            this.zoom);
        map.attributionControl.setPosition('bottomright');
        var dir = L.mapbox.directions({profile: 'mapbox.walking',
                                       units: 'metric'});
        var dirLayer = L.mapbox.directions.layer(dir).addTo(map);
        var dirRtCtrl = L.mapbox.directions.routesControl('rctrl', dir)
                                           .addTo(map);
        dir.setOrigin(L.latLng(this.a_lat, this.a_lon))
           .setDestination(L.latLng(this.b_lat, this.b_lon))
           .query();
        var dirInsCtrl = L.mapbox.directions
                                 .instructionsControl('instructions', dir)
                                 .addTo(map);
    }

    function makeInstructions(num, instructions, begin_time) {
        this.num = num;
        this.width = 100 + '%';
        this.height = 50 + 'px';
        this.float = 'left';

        this.rootElem = document.createElement('div');
        this.rootElem.id = 'cont' + this.num;
        this.rootElem.style.width = this.width;
        document.getElementById('container').appendChild(this.rootElem);
 
        this.instr = document.createElement('div');
        this.instr.id = 'instr' + this.num;
        this.instr.style.width = this.width; //100 + '%';
        this.instr.style.backgroundColor = '#87CEE8';
        this.instr.style.cssFloat = 'left';
        this.instr.style.paddingTop = 15 + 'px';
        this.instr.style.borderBottom = '3px solid #3B3B3B';
        var ins_arr = instructions.split('!');
        var ins = '<p>';
        if (begin_time != 0) {
            ins += 'Odchod: ' + begin_time + '<br>';
        }
        for (var i = 0; i < ins_arr.length; i++) {
            ins += ins_arr[i] + '<br>';
        }
        this.instr.innerHTML = ins;
        document.getElementById(this.rootElem.id).appendChild(this.instr);
    }
</script>

{% for drive in routes[alt].drives %}
    {% if drive.walk %}
        <script type="text/javascript">
            var map = new makeMap({{ loop.index0 }}, {{ drive.midpoint }},
                                  {{ drive.start_c }}, {{ drive.dest_c }},
                                  {{ drive.dist }});
            var instr = new makeInstructions({{ loop.index0 }},
                                             '{{ drive.instr }}', 0);
        </script>
    {% else %}
        <script type="text/javascript">
            var instr = new makeInstructions({{ loop.index0 }},
                                             '{{ drive.instr }}',
                                             '{{ drive.begin_time }}');
        </script>
    {% endif %}
{% endfor %}
</script>
<p><font size="6"><b>{{ error }}</b></font></p>

{% endblock %}